*{
    font-family: sans-serif;
}
.wrapper{
    width: 1145px;
    margin: 0 auto;
}

/* HEADER START */
.navigation{
    padding: 26px 0;
    text-align: center;
}
.navigation-item{
    display: inline-block;
    margin: 0 36px;
}
.navigation-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.page-top-image{
    width: 100%;
}
/* HEADER END */

/* MAIN START */
.content{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
}
.content-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}
.content-button{    
    margin-top: 38px;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
  
}
/* MAIN END* /

/* FOOTER START */
.page-bottom{
    padding: 50px 0;
}
.page-bottom-copyright{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
/* FOOTER END */